body {
  margin: 0;
  font-family: Arial;
  background: #f0f2f5;
}

/* Header */
header {
  background: #111;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

header h1 {
  margin: 0;
}

header p {
  margin-top: 10px;
  color: #ccc;
}

/* Sections */
section {
  max-width: 800px;
  margin: 30px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
}

/* Project box */
ul {
  padding-left: 20px;
}

h2 {
  border-bottom: 2px solid #eee;
  padding-bottom: 5px;
}